{% extends 'adminbase.html.twig' %}

{% block title %}Nos Heures d'ouvertures{% endblock %}

{% block body %} 

<div class="form_hour_container m-auto">
<form action="/opening_hours" method="POST">
  <div class="form-group mt-5">
    <h2>{{ rushHour.day }}</h2
    <label for="morning_opening">Heure d'ouverture du midi</label>
    <input type="time" id="morning_opening" name="morning_opening_hour" class="form-control" placeholder="Heure d'ouverture" value="{{rushHour.getMorningOpeningHour|date("H:i")}}">
    <label for="morning_closing">Heure de fermeture du midi</label>
    <input type="time" id="morning_closing" name="morning_closing_hour" class="form-control" placeholder="Heure de fermeture" value="{{rushHour.getMorningClosingHour|date("H:i")}}">
    <label for="evening_opening">Heure d'ouverture du soir</label>
    <input type="time" id="evening_opening" name="evening_opening_hour" class="form-control" placeholder="Heure d'ouverture" value="{{rushHour.getEveningOpeningHour|date("H:i")}}">
    <label for="evening_closing">Heure de fermeture du soir</label>
    <input type="time" id="evening_closing" name="evening_closing_hour" class="form-control" placeholder="Heure de fermeture" value="{{rushHour.getEveningClosingHour|date("H:i")}}">
    <label for="capacite">Capacité</label>
    <input type="number" id="capacite" name="capacite" class="form-control" placeholder="Capacité" value:"{{rushHour.capacite}}">

    <input type="hidden" name="token" value="{{ csrf_token('set_hours') }}">
  </div>
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
  </div>

{% endblock %}
