
<div class="form-control" id='reservation-form'>
<div class="form-group">
{{ form_start(form) }}
<h1 class='pt-2 d-flex justify-content-center nouvelle-resa'>Nouvelle Réservation</h1>
{{ form_label(form.date) }}
{{ form_widget(form.date)}}
{{ form_help(form.date)}}
<div class="form-group mt-4">
{{ form_label(form.nombreDePersonnes) }}
{{ form_widget(form.nombreDePersonnes) }}
{{ form_help(form.nombreDePersonnes) }}
</div>
<div class="alert alert-info mt-2">Actuellement pour cette date il nous reste 20 places disponibles. Merci de choisir votre créneau parmi les créneaux disponibles:</div>
</div>
<div class="form-group mt-4">
{{ form_label(form.horaireDeVenue) }}
{{ form_widget(form.horaireDeVenue) }}
{{ form_help(form.horaireDeVenue) }}
</div>
<div class="form-group mt-4">
{{ form_label(form.allergies) }}
{{ form_widget(form.allergies) }}
{{ form_help(form.allergies) }}
</div>
<div class="form-group">
    <button class="btn btn-primary my-4">{{ button_label|default('Effectuer la réservation') }}</button>
</div>
{{ form_end(form) }}
</div>

